.cover {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    background: rgb(208,214,236);
    background: radial-gradient(circle, rgb(197, 205, 235) 0%, rgba(245,249,252,1) 100%);
    z-index: 10;
}

.add-snippit-modal {
    position: relative;
    width: 90%;
    max-width: 950px;
    height: 550px;
    border-radius: 20px;
    background-color: #fff;
    display: grid;
    grid-template-rows: 60px 1fr 70px;
}

.add-snippit-modal h2 {
    margin: 10px 20px;
    font-size: 30px;
}

.add-snippit-modal .copy-btn {
    border: 2px solid #2f3773;
    color: #2f3773;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: 600;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
}

.add-snippit-modal code {
    max-height: 350px;
}

.add-snippit-modal input {
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 30px;
    background-color: #f6f5ff;
    margin: auto 0 ;
}

.add-snippit-modal input::placeholder {
    color: #5c7eddb8;
}